/* font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif; */

.btn {
    color: pink;
    font-size: 1rem;
    padding: 1rem 2rem;
    border: solid 1px #111;
    border-radius: 7px;
    background-color: grey;
    display: block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; */
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}