/* adding to prevent future code errors */
*,
*::after,
*::before {
    box-sizing: inherit;
    line-height: inherit;
}

/* adding to prevent future code errors */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: open-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #333232;
    box-sizing: border-box;
}

h1 {
    font-family: utopia-std, serif;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

h2 {
    font-family: utopia-std, serif;
    font-weight: bold;
}

h3 {
    font-family: open-sans, sans-serif;
    font-weight: bold;
    color: #333232;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
}

/* Adding max-width to container to maintain styling on larger screens */
.container {
    max-width: 1400px;
    margin: 0 auto;
}

/* * * * * * HOME PAGE * * * * * */

/* Navigation */

/* using display flex to style top nav */
.nav {
    display: flex;
    flex-direction: column;
}

.navigation {
    border-bottom: 3px solid #333232;
}

.logo-nav {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    background-color: rgb(114, 125, 113, 0.36);
}

.logo {
    width: 200px;
    height: auto;
    text-align: center;
}

.logo img {
    width: 100%;
    height: auto;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
}

/* styling menu links */
.nav-links a {
    text-decoration: none;
    color: #333232;
    list-style-type: none;
    padding: .5rem;
    margin: .5rem;
}

/* styling contact nav button  */
.contact {
    background-color: #727D71;
}

a.contact {
    color: #FFFFFF;
}

/* adding hover to nav links */
.nav-links a:hover {
    border-bottom: 3px solid #333232;
}

/* Banner Section*/

/* adding background image & setting height */
.hero {
    width: 100%;
    height: 188px;
    background-image: url('/img/hero-img-mobile.jpg');
    background-size: 100% 100%;
}

/* styling text - added slight text shadow to help text stand out */
.hero-text {
    color: #333232;
    text-shadow: white 0px 0px 10px;
}

/* Welcome Section */
.welcome {
    background-color: rgb(253, 229, 231, 0.5);
    padding: 1rem;
    display: grid;
    grid-template-columns: .75fr 1fr;
    grid-template-rows: 2fr;
    grid-template-areas: "img welcome"
        "text text";
}

/* setting grid areas */
.welcome img {
    width: 100%;
    height: auto;
    grid-area: img;
}

/* using div to adjust image size */
.welcome-img {
    width: 200px;
}

/* styling welcome - h2 */
.welcome h2 {
    grid-area: welcome;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 40px;
    padding-left: 1rem;
}

.welcome p {
    grid-area: text;
    padding-top: 1rem;
}

/* Home Portfolio Section */
.home-portfolio {
    margin: 1rem;
    display: block;
}

.home-porfolio h2 {
    font-weight: bold;
}

/* displaying portfolio img links as block */
.portfolio-img-links {
    display: block;
}

/* resizing images & centering */
.portfolio-img {
    width: 350px;
    padding: .5rem;
    margin: 1rem auto;
}

.portfolio-img img {
    width: 100%;
    height: auto;
}

/* styling portfolio button */
.portfolio-btn a {
    background-color: #727D71;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding: 15px;
    display: block;
    width: 200px;
    margin: 1rem auto;
}

.portfolio-btn a:hover {
    background-color: #FFFFFF;
    color: #727D71;
    border: 2px solid #727D71;
}

/* Footer */
.footer {
    background-color: #333232;
    padding: 1rem;
    color: #FFFFFF;
}

.footer-menu {
    margin-top: 1rem;
}

.footer-menu a {
    display: block;
    margin-left: 2rem;
    padding-bottom: .5rem;
}

/* styling footer menu items */
.footer a {
    text-decoration: none;
    color: #FFFFFF;
    list-style-type: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* styling social media icons to display inline */
.footer-socials {
    display: flex;
    padding: 1rem;
}

/* styling social media icons */
.footer-socials a {
    padding: 0 1rem;
    font-size: 25px;
}

/* styling hover */
.footer-socials a:hover {
    color: #727D71;
}

/* * * * * HOME PAGE TABLET VIEW * * * * */

/* set tablet min-width to 600px for small tablet */
@media screen and (min-width: 600px) {

    /* Navigation */

    /* changing style of navigation to display inline */
    .nav {
        background-color: rgb(114, 125, 113, 0.36);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .logo-nav {
        background-color: transparent;
    }

    /* Banner */

    /* added new background image optimized for tablet & adjusted banner height */
    .hero {
        width: 100%;
        height: 200px;
        background-image: url('/img/hero-img-tablet.jpg');
        background-size: 100% 100%;
    }

    .hero-text {
        padding: 0 1rem;
    }

    h1 {
        font-size: 35px;
    }

    /* Welcome */

    /* increasing image size on page for tablet */
    .welcome-img {
        width: 300px;
    }

    /* creating new grid rules for layout section */
    .welcome {
        padding: 1rem 3rem;
        gap: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .25fr .75fr;
        grid-template-areas: "img welcome"
                             "img text";
    }

    .welcome-img {
        grid-area: img;
        justify-self: end;
    }

    .welcome h2 {
        padding: 0;
    }

    .welcome p {
        align-self: start;
    }


    /* Portfolio Section */
    /* styling larger images */
    .portfolio-img {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    } */

}

/* * * * * HOME PAGE DESKTOP VIEW * * * * */
@media screen and (min-width: 1200px) {

    /* Navigation */

    .nav {
        justify-content: space-between;
        padding: 0 2rem;
    }

    /* adding space between nav options */
    .nav-links a {
        margin-left: 2rem;
    }

    /* Banner Section */

    /* increased font size for web view */
    h1 {
        font-size: 50px;
    }

    /* changed background image to image optimized for webview */
    .hero {
        background-image: url('/img/hero-img-web.jpg');
        height: 300px;
        width: auto;
    }

    /* Welcome Section */
    .welcome {
        padding: 1rem 6rem;
    }


    /* Home Portfolio Section */

    /* ? adding grid to portfolio section */
    .portfolio-img-links {
        display: grid;
        max-width: 100%;
        overflow: hidden;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "one two"
            "three four";
    }

    .portfolio-img-links .portfolio-img:nth-child(1) {
        grid-area: one;
    }

    .portfolio-img:nth-child(2) {
        grid-area: two;
    }

    .portfolio-img:nth-child(3) {
        grid-area: three;
    }

    .portfolio-img:nth-child(4) {
        grid-area: four;
    }
}

/* * * * * * ABOUT PAGE * * * * * */

h1 {
    padding: 2rem 1rem 1rem 1rem;
}

.about-img {
    width: 145px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
}

.about img {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.about-text {
    padding: 1rem;
}

/* styling "let's connect" btn */
.contact-btn a {
    background-color: #727D71;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding: 15px;
    display: block;
    width: 200px;
    margin: 1rem auto;
}

/* * * * * ABOUT PAGE TABLET VIEW * * * * */

/* set tablet min-width to 600px for small tablet */
@media screen and (min-width: 600px) { 

    /* increasing size of image */
    .about-img {
        width: 250px;
    }

    /* changing layout to grid*/
    
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .3fr .3fr .3fr 1fr 1fr;
        grid-template-areas: "img h"
                             "img pone"
                             "img ."
                             "education ptwo "
                             "ux pthree" ;
    }

    .about h1 {
        grid-area: h;
    }

    .about-img {
        grid-area: img;
    }

    .about p:nth-child(1) {
        grid-area: pone;
    }

    .about h3:nth-child(1) {
        grid-area: education;
    }

    .about p:nth-child(2) {
        grid-area: ptwo;
    }

    .about h3:nth-child(2) {
        grid-area: ux;
    }

    .about p:nth-child(3) {
        grid-area: pthree;
    }

}

/* * * * * CONTACT PAGE * * * * */

/* adding margin around entire page content */
.connect {
    margin: 1rem;
}

.connect h4 {
    font-family: open-sans, sans-serif;
    font-size: 16px;
    text-align: center;
    margin-bottom: 2rem;
}

/* styling h3 */
.connect h3 {
    text-align: left;
    font-size: 20px;
}

/* styling social media icons */
.socials a {
    padding-right: 1rem;
    font-size: 30px;
    color: #333232;
}

/* adding hover to icons */
.socials a:hover {
    color: #727D71;
}

/* styling contact form */
.contactform {
    margin-top: 2rem;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
}

/* styling contact form inputs */
input[type=text],
input[type=email],
textarea,
email {
	width: 100%;
	padding: .5rem;
	border: 1px solid #333232;
	box-sizing: border-box;
	margin-top: 5px;
	margin-bottom: 15px;
	resize: vertical;
    border-radius: 2px;
}

/* taking away default btn styles & adding custom styles */
.contactbtn {
    text-decoration: none;
    border: none;
    background-color: #727D71;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding: 15px;
    display: block;
    width: 200px;
    margin: 1rem auto;
}

.contactbtn:hover {
    background-color: #FFFFFF;
    color: #727D71;
    border: 2px solid #727D71;
}


/* * * * * CONTACT PAGE  TABLET VIEW * * * * */
@media screen and (min-width: 600px) {

    .connect h1 {
        text-align: left;
    }

    .connect h4 {
        text-align: left;
        padding-left: 1rem;
    }

    .connecttext {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "email social"
                             "temail isocial"
                             "phone ."
                             "tphone .";
    }

    .connecttext h3:nth-child(1) {
        grid-area: email;
    }

    .connecttext h3:nth-child(3) {
        grid-area: social;
    }

    .connecttext h3:nth-child(2) {
        grid-area: phone;
    }

    .connecttext p:nth-child(1) {
        grid-area: temail;
    }

    .connecttext p:nth-child(2) {
        grid-area: tphone;
    }

    .connect .socials {
        grid-area: isocial;
    } 


    .contactform {
        margin-left: 2rem;
    }
}