/* adding CSS style */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header,
footer {
    background-color: darkseagreen;
}

/* class selector - add a class of site-title */

.site-title {
    color: white;
}

/* id selector */
#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

/*  replace bullets w squares  */
article ul li,
li,
li {
    list-style-type: square;
}

/* ???? add background to the odd list items ???? */
article ul li:nth-child(even) {
    background-color: skyblue;
}

/* styling navigation */

/* remove bullets from navigation */
nav ul li {
    list-style: none;

}

/* remove underline from the links, add background & border */
nav ul a {
    text-decoration: none;
    background-color: skyblue;
    border-style: dotted;
}

/* change hover and focus state */

nav ul a:hover,
nav ul a:focus {
    background-color: cornflowerblue;
}