/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------- ^ CSS reset applied ^ ---------- */

/* CSS custom styling */

/* adding to prevent future code errors */
*,
*::after,
*::before {
	box-sizing: inherit;
	line-height: inherit;
}

/* adding to prevent future code errors */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

html {
    font-family: soleil, sans-serif;
    font-weight: 400;   
    font-style: normal;
	font-size: 14px;
    color: #232731;
	box-sizing: border-box;
}

body {
    line-height: 1.5;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

/* Adding max-width to container to maintain styling on larger screens */ 
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* -*-*-*-*-*-*- HOME PAGE -*-*-*-*-*-*- */

/* ----- Navigation ----- */

/* Styling logo as home button */
.logo {
    max-height: 80px;
}

/* Styling nav options */
.main-nav {
    font-size: 16px;
    box-sizing: border-box;
}

.nav-list li a {
    text-decoration: none;
    color: #232731;
    padding: .75rem;
    display: block;
    text-align: center;
}

/* adding hover effect for nav */
.nav-list li a:hover {
    background-color: rgba(251, 180, 149, 0.5);
}

/* ----- Search Bar & Button ----- */

/* hiding search bar & button from mobile view */
form.search input[type=text] {
    display: none;
}

form.search button {
    display: none;
}

/* ----- Promo Banner ----- */
.promobanner {
    height: auto;
    background-color: rgba(198, 166, 206, 0.5);
    padding: 1rem;
    text-align: center;
    border-top: solid #232731;
    border-bottom: solid #232731;
    border-width: thin;
}

.promobanner a {
   color: #232731;
}

/* ----- MAIN ----- */

/* ----- Home Page Banner ----- */

/* setting image as background though css + added linear gradient so text is easier to read */
.banner {
    height: auto;
    background: linear-gradient(
        rgba(0, 0, 0, 0.05),
        rgba(0, 0, 0, 0.05)
      ), url("../images/home_banner-mobile.jpg") no-repeat center bottom;
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.banner-text {
    text-align: center;
}

/* styling first a tag will copy & paste this styling throughout other sections */
.banner-text a {
    border: solid #232731;
    border-width: 2px;
    border-radius: 20px;
    color: #232731;
    padding: 5px 30px;
    text-decoration: none;
    display: inline-block;
    margin: 1rem;
}

/* added hover styling to button */
.banner-text a:hover {
    background-color: #232731;
    color: #FFFFFF;
}

/* ----- Icons Section ------ */

.icons {
    margin: 1rem 0;
    background-color: rgb(251, 180, 149, 0.75);
    padding: 2rem 6rem;
    height: auto;
}

.cards {
    padding: 1rem;
}

/* used padding to make icon images smaller */
.cards img {
    width: 100px;
}

/* added div around icons to align div in center */
.iconimg {
    text-align: center;
}

.cards-text {
    text-align: center;
}

.cards-text a {
    border: solid #232731;
    border-width: 2px;
    border-radius: 20px;
    color: #232731;
    padding: 5px 30px;
    text-decoration: none;
    display: inline-block;
    margin: .5rem;
}

.cards-text a:hover {
    background-color: #232731;
    color: #FFFFFF;
}

/* ---- Home Content ----- */

.home-content {
    margin: 1rem 0;
    padding: 2rem 2rem 1rem 2rem;
}

.image-container1 {
    height: 300px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: grey url("../images/plant_based_img.jpg") no-repeat center left;
    background-size: cover;
    padding:2rem 1rem;
    margin-bottom: 1rem;
}

.image-container2 {
    height: 300px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: grey url("../images/mood_boosting_img.jpg") no-repeat center right;
    background-size: cover;
    padding: 2rem 1rem; 
    margin-bottom: 1rem;
}

.image-container3 {
    height: 300px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: grey url("../images/thoughtful_ingredients-img.jpg") no-repeat center top;
    background-size: cover;
    padding: 2rem 1rem;
}

.home-content img {
    width: 100px;
}

.content {
    text-align: center;
}

.button a {
    border: solid #232731;
    border-width: 2px;
    border-radius: 20px;
    color: #232731;
    padding: 5px 30px;
    text-decoration: none;
    justify-content: center;
}

.button a:hover {
        background-color: #232731;
        color: #FFFFFF;
    }

.button {
    text-align: center;
    margin-bottom: 2rem;
}

/* ----- Footer ----- */

/* hiding part of footer in mobile view for simplification */
.top-footer {
    display: none;
}

.bottom-footer {
    background-color: #232731;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem;
}

/* ---------- TABLET VIEW/ WEBVIEW --------- */

/* Adding media query for tablet view to add custom styling for tablet use. The following styling will be applied to <760px */
@media screen and (min-width: 760px) {

/* increased font size for tablet view */
    html {
        font-size: 18px;
    }

/* changed menu styling using display:flex */
.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Bringing back search bar */
form.search input[type=text] {
    display: inline-block;
    padding: 10px;
    width: 200px;
    height: 40px;
    border: 2px solid #232731;
    border-radius: 50px;
    color: black;
    outline: none;
    color: #23273;
}


/* adjusted how background image is displayed for tablet view + added larger img size*/
.banner {
    background: grey url("../images/home_banner-web.jpg") no-repeat center center;
}

/* changed icon section view to appear side by side using flex*/
.icons {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.home-content {
    display: flex;
    justify-content: space-around;
}

/* ajusted size of image boxes */
.image-container1, .image-container2, .image-container3 {
    margin: 1rem;
    height: 400px;
    width: 300px;
}


/* ----- Footer ----- */
/* Displaying full footer content
adding grid to footer for easy styling of elements */
.top-footer {
    background-color: #FFFFFF;
    border-top: solid #232731;
    border-width: thin;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "points nav"
    "points socials"
    "copyright copyright";
}

.points-section {
    grid-area: points;
}

.footer-nav {
    grid-area: nav;
}

.footer-socials {
    grid-area: socials;
}

/* styling points button */
.points-section a {
    background-color: #232731;
    color: #FFFFFF;
    border: solid #232731;
    border-width: 2px;
    border-radius: 20px;
    padding: 5px 30px;
    text-decoration: none;
    display: inline-block;
    margin: 1rem;
}

/* added hover styling to button */
.points-section a:hover {
    background-color: #FFFFFF;
    color: #232731;
}

/* styling navigation buttons of footer */
.footer-nav {
    margin-bottom: 1rem;
}

.footer-nav a {
    color: #232731;
    margin-left: 2rem;
    text-decoration: none;
}

.footer-nav a:hover {
    text-decoration: underline;
}


.footer-socials ul li {
    display: inline;
}

.footer-socials ul li a {
    color: #232731;
    margin-left: 2rem;
    font-size: 30px;
}

.footer-socials ul li a:hover {
    color: #C6A6CE;
}

.bottom-footer {
    grid-area: copyright;
}

.bottom-footer p {
    font-size: 14px;
}

}

/* -*-*-*-*-*-*-* ABOUT PAGE -*-*-*-*-*-*-* */

.about-header h1 {
    text-align: center;
    padding: 1rem 2rem;
}

/* used max-width to adjust size of img */
.about-header img {
    max-width: 100%;
}

.about-text {
    background-color: #C4E6E6;
    text-align: center;
    padding: 1rem 2rem;
    padding-bottom: 2rem;
}

.about-text h4 {
    padding: 1rem 0;
}

/* ----- Icons Sections ----- */
.icons2 {
    background-color: #FBB495;
    margin-top: 2rem;
    padding: 2rem 6rem;
    height: auto;
}

.icons2 img {
    width: 100%;
    padding: 0 50px;
}

/* adding animation to icons on hover */
.icons2 img:hover {
    animation: bounce 1.5s ease-in-out infinite;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0)
    }
    40% {
        transform: translateY(-30px);
    }

    80% {
        transform: translateY(-20px);
    }
}

/* ----- Instagram Section ------ */

/* styling section */
.instagram {
    background-color: #ACD7EC;
    margin: 1rem 2rem;
    padding: 1rem 2rem;
    border-radius: 0px 50px 0px 0px;
}

.instagram h1 {
    text-align: center;
    padding-bottom: 1rem;
}

.instagram a {
    border: solid #232731;
    border-width: 2px;
    border-radius: 20px;
    color: #232731;
    padding: 5px 30px;
    text-decoration: none;
    display: inline-block;
    margin: .5rem;
}

.instagram a:hover {
    background-color: #232731;
    color: #FFFFFF;
}

.instagram img {
    width: 100%;
    padding: 1rem;
}

/* --------*** ABOUT PAGE TABLET/WEBVIEW ***--------- */

/* Adding media query for tablet view to add custom styling for tablet use. The following styling will be applied to <760px */
@media screen and (min-width: 760px) {

    /* Icons Section */
    .icons2 {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem 2rem;
    }

    .cards2 {
        padding: 1rem 3rem;
    }

    /* Instagram Section */
    .instagram {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "text img1 img2"
        ". img3 .";
    } 

    .instagram .insta-button {
        grid-area: text;
    }

    .instagram .img1 {
        grid-area: img1;

    }

    .instagram .img2 {
        grid-area: img2;

    }

    .instagram .img3 {
        grid-area: img3;

    }

    }
}

/* -*-*-*-*-*-*-* MENU PAGE -*-*-*-*-*-*-* */

.menu {
    padding: 1rem;
}

.menu h1 {
    padding: 1rem 2rem;
}

.product-card {
    background-color: pink;
    padding: 1rem 1rem;
    margin: 1rem 2rem;
    border-radius: 0px 40px 0px 0px;
}

.product-card img {
    max-width: 100%;
}

.product-card a {
    color: #232731;
    font-weight: bold;
    display: flex;
    align-items: center;
}







