/* CSS Style sheet */

/* Defining to browser font size to be 16px */
html {
    font-size: 16px;
}

/* adding background color & formatting body */
body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

/* adding background image to header */
.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

/* formatting h1 */
h1 {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Formatting navigation menu */
.topnav {
    overflow: hidden;
}

.topnav a {
    width: 33%;
    float:left;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

/* formatting image with article */
article img { 
    width: 200px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

/* formatting contact form */
.contactform {
    width: 90%;
    border: 2px solid black;
    margin: 10px;
    padding: 20px;
}

.radio {
padding-bottom: 20px;
}

button {
    padding-top: 2px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.contact, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
}


section h3 ul {
    padding: 10px;
    margin-top: 20px;
}

/* formatting footer */
footer {
    text-align: right;
}