
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*****************  Custom CSS ***************/

nav {
    background-color: lightcoral;
    font-size: 0.96rem;
    font-family: sans-serif;
}

/* styling nav - font color, taking away underline, adding padding - so can click anywhere within padding to get to link, display: block allows styles to work*/
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
    text-align: center;
}

/* adding light border around nav li */
nav ul li {
    border-top: 1px solid rgba(1,1,1,0.1);
}

/* adding hover to navigation - rgba (1,1,1 = color 0.1 = opacity) */
nav ul li:hover {
    background-color: rgba(1,1,1,0.1);
}

/************* Desktop View *************/

@media screen and (min-width: 500px) {
    nav ul li {
        display: inline-block;
        border-top: none;
    }
}