/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------- CSS RESET ---------- */

/* CSS Custom Styling */

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	line-height: inherit;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

body {
	line-height: 1.5;
}

h1,
h2,
h3 {
	font-weight: bold;
	margin: 1rem 0 0.5rem;
}

h1 {
	font-size: 3.5rem;
	color: white;
}

h2 {
	font-size: 2.5rem;
	margin: 1rem;
}

h3 {
	font-size: 1.5rem;
	margin: 1rem;
}

h4 {
	font-weight: bold;
	margin: 1rem;
}

p {
	margin: 1rem 1rem;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/* Header */
.masthead {
	background-color: #222;
	padding: 1rem;
}

.logo {
	background-color: #c78c06;
}

.starlogo {
	display: none;
}

/* Navigation */
nav {
	font-size: 1rem;
	box-sizing: border-box;
}

nav ul li a {
	color: #c78c06;
	text-decoration: none;
	padding: 1rem;
	display: block;
	text-align: center;
}

nav ul li a:hover {
	color: #222;
	background-color: #c78c06;
}

nav input[type=text] {
	padding: 0.75rem;
	width: 90%;
	display: block;
}

.masthead i {
	color: #c78c06;
	border: solid 1px #c78c06;
	padding: rem;
}

/* Banner */
.banner {
	height: auto;
	background: grey url("../img/main-banner.jpg") no-repeat center bottom;
	background-size: cover;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

/* .banner .btn { 
	padding: 1rem 2rem;
	border: 1px solid grey;
	text-decoration: none;
	color: inherit;
	background-color: #c78c06;
	display: inline-block;
	font-size: 1rem;
	color: black;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}*/

/* .banner i { 
	font-size: 1.5rem;
	padding: .5rem;
}*/

form.search input[type=text] {
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid grey;
    float: left;
    width: 90%;
    background: #f1f1f1;
  }
  
  form.search button {
	font-size: 1rem;
    float: left;
    width: 10%;
    padding: 1rem;
    background-color: rgba(39, 39, 39);
    font-size: 1rem;
    border: 1px solid #c78c06;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }


.welcome {
	background-color: rgba(39, 39, 39, 0.7);
	padding: 1rem;
}

.welcome p {
	color: white;
}

.welcome .btn {
	padding: 20px;
	border: 1px solid black;
	text-decoration: none;
	color: rgba(39, 39, 39);
	background-color: #c78c06 ;
	display: inline-block;
	margin: 1rem;
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
}

.welcome i {
	font-size: 2rem;
	padding: .5rem;
}

/* Main */

/* About Section */
.about {
	height: auto;
	background-color: rgb(248, 229, 173);
	float: left;
	padding: 1rem;
}

.about img {
	max-width: 100%;
	display: block;
	margin: auto;
}


/* Our Services */

.cards {
	background-color: white;
	padding: 1rem 1rem;
}

.cards h2 {
	padding-top: 1rem;
}

.card {
	background-color: rgb(248, 229, 173);
	margin: 1rem;
}

.cards img {
	width: 100%;
}

.cards .btn {
	padding: 20px;
	border: 1px solid grey;
	text-decoration: none;
	color: white;
	background-color: #222;
	display: inline-block;
	margin: 1rem;
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
}

.card i {
	font-size: 1.5rem;
	padding: .5rem;
}

/* Our Vision */

.vision {
	height: auto;
	background: grey url("../img/vision.jpg") no-repeat center center;
	background-size: cover;
	padding: 1rem;
}

.vision {
	color: white;
}

.vision .btn {
	padding: 20px;
	border: 1px solid #c78c06;
	text-decoration: none;
	color: white;
	background-color: #222;
	display: inline-block;
	margin: 1rem;
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
}

.vision i {
	font-size: 1.5rem;
	padding: .5rem;
}

/* Our Team */

.team {
	background-color: white;
	padding: 1rem;
}

.team .employee {
	background-color: rgb(248, 229, 173);
	margin: .5rem;
	padding: 0 0 1rem 0; 
}

.team img {
	width: 100%;
}

hr {
	border: 1px solid #c78c06;
	margin-right: 1rem;
	margin-left: 1rem;

}

/* Contact Form */

input[type=text],
input[type=email],
textarea,
email {
	width: 100%;
	padding: 1rem;
	border: 1px solid grey;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;

}

.contacts {
	margin: 1rem;
}


.contact .btn {
	padding: 10px;
	border: 1rem 1rem;
	border: 1px solid #c78c06;
	text-decoration: none;
	color: #c78c06;
	background-color: #222;
	display: inline-block;
	margin: 1rem 1rem;
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
}

/* Hours */

.hours table,
th,
td {
	border: 1px solid black;
}

table {
	width: 100%;
}

th {
	height: 40px;
	background-color: rgb(248, 229, 173);
	text-align: center;
}

tr {
	height: 40px;
}

td {
	padding: 1rem;
}

/* Location */

.location {
	width: 100%;
}


/* Footer */

footer {
	width: 100%;
	margin-top: 1rem;
	padding: 1rem 0;
	background-color: #222;
	color: #c78c06;
}

footer a {
	color: inherit;
}

/* DESKTOP VIEW */

@media screen and (min-width: 760px) {

	/* Navigation */
	.masthead {
		padding: 1rem 4rem;
	}

	.logo {
		display: none;
	}

	.nav-list {
		display: flex;
		align-items: center;
	}

	.starlogo {
		display: flex;
		height: 100%;
	}

	.nav-list li {
		flex: 1;
		margin: 0.3rem;
		text-align: center;
	}

	.nav-list input[type=text] {
		float: right;
		width: 25%;
		height: 1.5rem;
	}


	/* Welcome Section */
	.welcome {
		margin: 1rem 2rem;
	}

	/* About Section */
	.about {
		display: flex;
		padding: 1rem 2rem;
		height: auto;
	}

	.about .img {
		height: auto;
	}

	/* Our Services */




*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
}

/* .card__img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}*/

.card1  {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.card2  {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.card3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.card4  {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4;  */
  /* grid-row: 3 / span 3; */
}

.card5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4; */
  /* grid-row: 6 / span 3; */
}

.card6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4; */
  /* grid-row: 6 / span 3; */
}

/* Our Team */

.team {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.25fr 1fr 1fr;
	grid-template-areas: 
	"header header"
	"img1 bio1"
	"img2 bio2";
}

.team h2 {
	grid-area: header;
}

.team .img1 {
	grid-area: img1;
}

.team .employee:nth-child(1) {
	grid-area: bio1;
}

.team .img2 {
	grid-area: img2;
}

.team .employee:nth-child(2) {
	grid-area: bio2;
}

/* Contact Us Section */

.contacts {
	display: grid; 
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.2fr 1.5fr 0.8fr;
	grid-template-areas: 
	"header header"
	"contactform location"
	"hours hours"
	;
}

.contacts h2 {
	grid-area: header;
}

.contacts .contact {
	grid-area: contactform;
	padding-right: 1rem;
}

.contacts .location {
	grid-area: location;
}

.contacts .hours {
	grid-area: hours;
}

}