

/* Start by adding in styles that will be standard through the whole website on every screen size (your defaults) - or at least your smallest screen */
body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    line-height: 1.4;
    margin-bottom: 1.8rem;
}

nav {
    color: white;
    background-color: #ccc;
}

footer {
    background-color: #999;
    text-align: center;
}

@media (min-width: 800px) {
    .grid {
        width: 800px;
        margin: auto;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "logo nav nav"
        "main main side"
        "footer footer footer"
    }

    .logo {grid-area: logo;}
    nav {grid-area: nav;}
    main {grid-area: main;}
    .sidebar {grid-area: side;}
    footer {grid-area: footer;}
}

@media (min-width: 1000px) {
    .grid {
        width: 1000px;
        grid-template-rows: repeat (4, 1fr);
        grid-template-areas: 
        "logo logo logo"
        "nav nav nav"
        "main main side"
        "footer footer footer";
    }
}

@media (min-width: 1200px) {
    .grid {
        width: 1200px;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.6; 
    }
}